//Для формы
//<Forms>======================================
.form {

}

//<Forms>============================================

//<BUTTONS>(a.btn+tab)====================================
.btn {
  padding: 0 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  transition: all 0.3s ease 0s;
  background-color: #f68038;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  @media (min-width: 992px) {
    &:hover {
      background-color: #b86029;
    }
  }
  &_grey {
    color: #666666;
    background-color: #e6e6e6;
    @media (min-width: 992px) {
      &:hover {
        background-color: #a1a1a1;
      }
    }
  }
  &.fw {
    width: 100%;
  }
}
//<BUTTONS>====================================

//<SELECT>(sel+tab) =====================================================
//недописан //нуждается в кастомном селекте через JS
.select {
  position: relative;
  &__item {
    position: relative;
    min-width: 166px;
  }
  &__title {
    color: #000;
    // border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    // border-radius: 4px;
    // @media (max-width: $md2+px) {
    //   font-size: 18px;
    // }
  }
  //.select__value
  &__value {
    display: flex;
    font-size: 14px;
    color: #0097ac;
    height: 30px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    span {
      height: 1em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &::before {
      content: '';
      display: inline-block;
      transition: all 0.3s ease 0s;
      width: 11px;
      height: 7px;
      margin: 0 0 0 5px;
      background: url("../img/icons/catalog/select_arrow.svg") center / 100% no-repeat;
    }
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  //.select__options
  &__options {
    color: #000000;
    display: none;
    position: absolute;
    top: 29px;
    // border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    // border-top: 0;
    // border: 1px solid #d9d9d9;
    border-top: 0;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
    font-size: 14px;
    padding: 10px 0 5px 0;
    @media (max-width: $md2+px) {
      font-size: 18px;
    }
  }
  //.select__option
  &__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0;
    @media (min-width: 992px) {
      &:hover {
        background-color: #d9d9d9;
      }
    }
  }
  &__show {
    .select__item {
      min-width: 0;
      border: 2px solid #f3f3f3;
    }
    .select__value {
      color: #999999;
      font-weight: 900;
    }
  }
  &._active {
    z-index: 5;
    .select__value {
      &::before {
        transform: rotate (-180deg);
      }
    }
    .select__options {
      display: block;
    }
  }
}
//<SELECT/>(sel+tab) =====================================================

//<INPUT>(inp + tab) ===========================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  outline: 0;
  outline-offset: 0;
  height: 30px; //это уже под конкретный сайт
  border: 1px solid #e5e5e5; //схожие стили импутов можно в общий стиль-заготовочку прописать
  padding: 0 15px;
  &._focus {
  }
  &._error {

  }
}
textarea.input {
  resize: none;
  padding: 0 0;
}
//<INPUT>(inp + tab) ===========================================

//<CHECKBOX>(chk+box)==================================================
.checkbox {
  position: relative;
  //.checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    // &:checked + .checkbox__text::before {
    //   background: #fff url("../img/icons/check.svg") center no-repeat;
    //   background-size: cover;
    // }
    &:checked + .checkbox__text::before {
      border: 2px solid #009aaf;
    }
    &:checked + .checkbox__text::after {
      content: "";
      width: 9px;
      height: 9px;
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: #53b5de;
    }
  }
  //.checkbox__text
  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: calc(15/12);
    cursor: pointer;
    &::before {
      content: "";
      align-self: flex-start;
      margin: 0 14px 0 0;
      flex: 0 0 15px;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: #fff;
      border: 2px solid #dadada;
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
    @media ( min-width: 992px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &._error {
    .checkbox__text {
      &::before {
        border: 1px solid #ee1212;
      }
    }
  }
}




//<CHECKBOX/>(chk+box)==================================================
